.logo {
    background-color: #259fb4;
    padding: 10px;
  }
  .logo-content {
    display: flex;
    align-items: center;
  }
  .logo-content img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

table.table > tbody > tr > td {
    background-color: #efefef;
}

.columna-name {
    color: rgb(0, 157, 255);
    cursor: pointer;
}

.negrilla {
    font-weight:600;
}